.featured-big, .featured-little {
    text-align: center;
    text-transform: uppercase;
}
.featured-big {
    padding-top: 3em;
    font-family: "Roboto-Black", sans-serif;
}
.galery-featured {
    padding-top: 3em;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}
.galery-featured-item {
    text-align: center;
    width: 100%;
    /*height: 45vh;*/
}
