.form-map {
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.form-about-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    width: 500px;
}
.form-input {
    display: flex;
    flex-direction: column;
}
.name-about {
    margin: 1.5em;
    padding: 1.5em;
    border: none;
    border-bottom: 1px solid rgb(210, 210,210);
    background: transparent;
    color: white
}
input::placeholder, textarea::placeholder {
    color: rgb(210, 210,210);
    font-size: 1.2em;
}
.name-about textarea {
    resize: none;
}
.send-message {
    background-color: turquoise;
    border:none;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 700;
    display: inline-block;
    margin-left: 1.7em;
    width: 40%;
    
}
