.our-code {
    padding-top: 2em;
    padding-bottom:  2em;
    background-color: rgb(229, 234, 241);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.our-code-chapter {
    text-align: center;
}
.our-code-chapter-main {
    font-size: 22px;
    font-weight: 700;
}
.photo-code {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.code-link {
    display: inline-block;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: rgb(77, 155, 243);
    border-radius: 25px;
}
.code-link a {
    text-decoration: none;
    color: white;
}