.partners {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Roboto-Medium', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-partners-chapter {
    text-align: center;
    padding-bottom: 2em;
}
.content__grid-item {
    text-align: center;
    display: inline-block;
}
.content__grid-item p {
    font-size: 12px;
}
.content__grid {
    width: 90%;
    /*height: 600px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
}
.partners-button-try {
    border-radius: 25px;
    border: none;
    width: 170px;
    padding: 1em 2em 1em 2em;
    background-color: rgba(56,163,241,1);
    color: white;
    font-weight: 700;
}
.partners-button-try:hover {
    color: navy;
}
.partners-button-try:focus {
    outline: none;
}
@media only screen and (max-width: 830px) {
    .content__grid {
        display: flex;
        flex-direction: column;
    }
}

