
.main {
    padding-bottom: 2em;
    padding-top: 2em;
    background-color: rgb(250, 250, 250);
}
.page-heading {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto-Black", sans-serif;
}
.page-heading-two {
    text-align: center;
    text-transform: uppercase;
    font-family: serif;
}
.box {
    padding: 0;
    margin-left: 10em;
    width: 30%;
    height: 75vh;
    background-color: rgb(250, 250, 250);
}
.slider {
    overflow: hidden;
    width: 100%;
    position: relative;
    /*background-color: rgb(216, 216, 216);*/
}
.slide-container {
    width: 500%;
    display: flex;
    transition: transform 310ms ease-out;
    /*cubic-bezier(0.19, 0.11, 0.51, 1.34);*/
}
.slider-slide {
    position: relative;
    width: 100%;
}
.slider-image {
    width: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    box-shadow: 1px 2px 8px gray;
}
.slider-nav {
    --gap: 5px;
    --size: 10px;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc((var(--size)*5)+(var(--gap)*4));
}
.slider-nav__item {
    width: var(--size);
    height: var(--size);
    border-radius: 25%;
    background: #555;
    cursor: pointer;
    object-fit: contain;
}
.slider [type="radio"] {
    display: none;
}
#slide-1:checked ~ .slider-nav .slider-nav__item:nth-child(1),
#slide-2:checked ~ .slider-nav .slider-nav__item:nth-child(2),
#slide-3:checked ~ .slider-nav .slider-nav__item:nth-child(3),
#slide-4:checked ~ .slider-nav .slider-nav__item:nth-child(4),
#slide-5:checked ~ .slider-nav .slider-nav__item:nth-child(5) {
    background-color: rgb(130, 245, 235);
}
#slide-2:checked ~ .slide-container {
    transform: translateX(-20%);
}
#slide-3:checked ~ .slide-container {
    transform: translateX(-40%);
}
#slide-4:checked ~ .slide-container {
    transform: translateX(-60%);
}
#slide-5:checked ~ .slide-container {
    transform: translateX(-80%);
}
.page-content {
    display: flex;
    justify-content: center;
    gap: 10em;
}
.slider-text {
    padding-right: 10em;
}
.big-text {
    text-transform: uppercase;
}
.little-text {
    font-family: "Roboto-Black", sans-serif;
    font-size: 14px;
}
.back-slider {
    position: absolute;
    display: inline-block;
    background-color: rgb(214, 213, 213);
    margin-left: 160px;
    margin-top: 50px;
    width: 400px;
    height: 320px;
}
@font-face {
    font-family: "Roboto-Black";
    src: url(D:\projects\it-shuttle-git-empty3-grid-hw\fonts\Roboto\Roboto-Black.ttf);
}

