.form-control {
    position: absolute;
    top: 3340px;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 50px;

}
.form-label {
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.switcher {
/*position: relative;*/
display: inline-block;
border-radius: 35px;
border: 1px solid gray;
background-color: white;
padding: 12px;
margin: 5px;
/*cursor: pointer;*/
}
.switcher:after {
    position: relative;
    content: "";
    display: block;
    border: 12px solid transparent;
    border-left: 18px solid blue;
    border-radius: 5px;
}
.switcher__input {
    visibility: hidden;
    position: absolute;
}
.switcher__input:checked~.switcher:after {
    /*transform: translateX(30px);*/
}
.switcher__input:checked~.switcher {
    background-color: transparent;
    border-color: blue;
}