.theysays {
    padding: 3em;
    background-color: rgb(250, 250, 250);
}
.theysays-big, .thaysays-little {
    text-align: center;
    text-transform: uppercase;
}
.theysays-big {
    font-family: "Roboto", sans-serif;
}
.back-slider-theysays {
    position: absolute;
    display: inline-block;
    background-color: rgb(200, 200, 200);
    margin-left: 10px;
    margin-top: 50px;
    width: 310px;
    height: 230px;
}
.members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 10em;
}
.box-members {
    width: 30%;
    height: 50vh;
    background-color: rgb(250, 250, 250);
}
.slider-members {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.slide-container-members {
    width: 400%;
    display: flex;
    transition: transform 310ms ease-out;
}
.slider-slide-members {
    position: relative;
    width: 100%;
}
.slider-image-members {
    width: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    box-shadow: 1px 2px 8px gray;
}
.slider-nav-members {
    --gap: 5px;
    --size: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}
.slider-nav-mem__item {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: #555;
    cursor: pointer;
}
.slider-members [type="radio"] {
    display: none;
}
#slide-12:checked ~ .slider-nav-members .slider-nav-mem__item:nth-child(1),
#slide-22:checked ~ .slider-nav-members .slider-nav-mem__item:nth-child(2),
#slide-32:checked ~ .slider-nav-members .slider-nav-mem__item:nth-child(3),
#slide-42:checked ~ .slider-nav-members .slider-nav-mem__item:nth-child(4) {
    background-color: rgb(130, 245, 235);
}
#slide-22:checked ~ .slide-container-members {
    transform: translateX(-25%);
}
#slide-32:checked ~ .slide-container-members {
    transform: translateX(-50%);
}
#slide-42:checked ~ .slide-container-members {
    transform: translateX(-75%);
}

.board-members {
    padding: 1em;
    display: inline-block;
    position: relative;
    height: 220px;
    background-color: rgb(200, 200, 200);
}
